<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   
  <h1 align="center">WELCOME</h1>
  <br>
  <p align="center" style="color:brown">CVR College of Engineering
  The Cherabuddi Education Society was registered 
  in January 1999 as an NRI-promoted society. The Society 
   aims at creating a state-of-the-art engineering institution
    in association with leading NRI technology professionals 
    and well-known academicians of the twin states of Telangana & Andhra Pradesh.
      The Society aims to harness technical excellence with a commitment
       to the ethos of 'useful learning'. </p>
       <button onclick="myFunction()">Click me</button>
       <p id="demo"></p>
       <script>
         function myFunction() {
             document.getElementById("demo").innerHTML = "Hello World";
         }
       </script>
</body>
</html>
